/server/config/
/server/node_modules/
/**/.idea/*
.idea/
.idea/*

.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/.pnp
.pnp.js
!/client/public/robots.txt
!/client/public/
/client/node_modules/